body{
}
#carouselMostrari .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 30vh;
    overflow: hidden;
}
#mostraCases .portadaCasa img  {
    object-fit: cover;
    object-position: center;
    height: 38vh;
    overflow: hidden;
}
.outlined  {
    background-color: #D9D9D9;
}

.container {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: height 0.5s ease;
  }

/* CSS FORMULARIO REGISTER */
.custom-form {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.custom-btn {
  background-color: #007BFF;
  border: none;
  border-radius: 5px;
}

.custom-btn:hover {
  background-color: #0056b3;
}

/* FORMULARIO LOGIN */
.card {
  border: none;
  height: 320px;
}

.forms-inputs {
  position: relative;
}

.forms-inputs span {
  position: absolute;
  top: -18px;
  left: 10px;
  background-color: #fff;
  padding: 5px 10px;
  font-size: 15px;
}

.forms-inputs input {
  height: 50px;
  border: 2px solid #eee;
}

.forms-inputs input:focus {
  box-shadow: none;
  outline: none;
  border: 2px solid #000;
}

.btn {
  height: 50px;
}

.success-data {
  display: flex;
  flex-direction: column;
}

.bxs-badge-check {
  font-size: 90px;
}

.card{
  margin-left: 50px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); /* Propiedad de sombra */

}

.card:hover{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Propiedad de sombra */
  transition: all .3s ease-in-out;
}
.btn-primary{
  background-color: transparent;
  border-color: gray;
  height: 50px;
}


.btn-primary p{
  margin-top: 4px;
  color: black;
 
}

.btn-primary:hover{
  background-color: gray;
  border-color: gray;
  color: black;
}


.container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */

}



.service-item {
  display: inline-flex; /* Coloca los elementos en línea (horizontalmente) */
  padding: 10px; /* Agrega espaciado entre los elementos, ajusta según tus necesidades */
  width: auto; /* Ancho de cada servicio */
  margin-right: 10px;
  background-color: #f0f0f0; /* Color de fondo del servicio */
  padding: 10px;
  scroll-snap-align: start;
  border-radius: 5px;
margin-bottom: 10px;
}


.custom-modal {
  /* Ajusta el tamaño de la altura y el ancho según tus preferencias */
  max-width: 800px; /* Ancho máximo del modal */
  width: 100%; /* Ancho del modal */
  margin: 0 auto; /* Centra el modal horizontalmente */
  height: 150vh; /* Ajusta la altura al 100% del viewport */
}

.custom-dialog {
  /* Ajusta el tamaño de la altura según tus preferencias */
  max-height: 150vh; /* Altura máxima del modal (el 80% de la altura del viewport) */
}

/* Ajusta otros estilos según tus preferencias */
.custom-dialog .modal-content {
width: 150%;
margin-right: 70%;
}



.custom-dialog .modal-footer {
align-items: center;
justify-content: center;}

.modal-footer .custom-button{
  background-color: rgb(181, 147, 212);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}


.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.button:hover {
  background: #222;
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}



.calendar {
  display: inline-flex;
  border: 1px solid #f8eeee;
  justify-content: center;
  text-align: center;
  padding: 10px;
  width: 250px;
  margin: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
margin-left: 45px;
}

.calendar label{
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: bold;
  color: #969292;
  margin-right: 10px;
}
.calendar input {
  width: 100%;
  border-color: #f8eeee;
  font-size: 12px;
  font-weight: bold;
  padding-left: 10px;
  border-radius: 5px;
}

.fechas{
  background-color: rgb(134, 134, 138);
  border-radius: 5px;
  border: none;
  font-size: small;
  font-weight: bold;
  height: 35px;
}

.fechas:hover{
  background-color: rgb(181, 147, 212);
  transition: all .3s ease-in-out;
}